/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    /*font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif,Cambria;*/
	  font-family:Cambria;
    margin: 0px;
    padding: 0px;
   /* color: ;#696969*/
	color:black bold;
}
/*====================== for links =======================================*/
a:link, a:visited
{   font-size: 80%;
	text-decoration:none;
  /* color:#7C4d65;*/
  color:#AAAAAA;
   font-family:Cambria;
}

a:hover
{     font-size: 90%;
    color: #1d68ff;
    text-decoration: bold inside;
	border-radius:2px;
	 background: #022223;
}

a:active
{
    color: #134af3;
}
/*=========================================================================*/
div.new {
	width: auto;
	margin: 0 0em 0 0px;
	position: relative;
	z-index:5;
	/*border:1px solid;*/
}
p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    width: auto;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    height: 0px;
    width: 822px;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 96%;
    background-color: #fff;
    margin: -1.2% auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}
.fot
{background-color:#787878;
height:50%;
   }
.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 490px;
	
}
.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 15% auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/
.titleSide {
	/*background: #004040;*/
	background-color:#1a4d63;;
	color: #E7EBF2;
	height:75%;
	font-size:1em;
	margin-bottom: 12px;
	padding-left: 24px;
}
.leftsidecolumn
{
	background: url('images/main_bg.png') repeat;
	color:White;
	font-size:1.2em;
	float:left;
	margin-top:2%;
	border:1px solid black;
	border-radius:3%;
	box-shadow:5px;
	width:15%;
	box-shadow:.4px 2px 4px 2px #022221;
	color:black;background:#E7EBF2;

}
.success
{
	color:green;
	font-size:1.5em;
		
		
}
.rightsidecolumn
{
	font-size:1.3em;
	background: url('images/main_bg.png') repeat;
	/*background-color:#E7EBF2;*/
	float:right;
	border:1px solid black;
	margin-top:-1055px;
	border-radius:3%;
	width:20%;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:0%;
	box-shadow:1px 2px 4px 2px #022221;
}
#footer
{
margin-top:0%;	
}
div.hideSkiplink
{ 
	background-color:#1a4d63;
   /* background-color:#5a4f63;*/
    width:100.3%;
	color:White;

}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
	height:35px;
}
div.menu ul li a
{float:left;
 /*border: 1px #4e667d solid;*/
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}
 div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
   /* background-color: #bfcbd6;*/
  background-color: #022223;
      color: #1d68ff;
 
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
div.menu ul li ul li
{
	list-style:none;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
	padding-left:2%;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
	float:right;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}










/*==========================HEADER*/
#clockdate{
	float:right;
}
.clockdate-wrapper {
    background-color: #333;
    padding:10px;
    max-width:170px;
    width:100%;
    text-align:center;
    margin:0 0 -2px 0; 
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:25px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
	color:#888;
	text-shadow:0px 0px 1px #333;
	font-size:17px;
	position:relative;
	top:-7px;
}
#date {
    font-size:9px;
    font-family:arial,sans-serif;
    color:#fff;
}
nav.navbar-inverse{
	height:72px;
	position:fixed;
	width:100%;
	top:0;
	z-index:999;
}
.hederimg{
	margin-top:15px;
	margin-left:15px;
}
.pagevisit{
	width:100%;
	background-color:#47d147;
	margin-top:13px;
	height:30px;
}
.visitcount{
	text-align:center;
	color:#ffffb3;
	font-size:20px;
	font-weight:bold;
}
/*===================================*/
.input-field{
	border: 3px groove cornflowerblue;
	border-radius: 10px;
	width: 25em;
	padding: .5em 2em 2em 2em;
	margin:1em 5em 5em 3em;
	height:26em;
}
.qr-field{
	border: 3px groove cornflowerblue;
	border-radius: 10px;
	width: 24em;
	height:26em;
	padding: .5em 2em 2em 2em;
	margin:-31em 3em 5em;
	float:right;
}
.myoutput{
	border: 3px groove green;
	border-radius: 10px;
	margin:7em 5em 0em 5em;
}
h3{
	text-align:center;
}